USE [master]
GO
/****** Object:  Database [FRANGOFONE]    Script Date: 23/04/2016 10:50:58 ******/
CREATE DATABASE [FRANGOFONE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FRANGOFONE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FRANGOFONE.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FRANGOFONE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FRANGOFONE_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FRANGOFONE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FRANGOFONE]
GO
/****** Object:  Table [dbo].[CategoriaSet]    Script Date: 23/04/2016 10:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[Descricao] [nvarchar](max) NOT NULL,
	[Ativa] [bit] NOT NULL,
 CONSTRAINT [PK_CategoriaSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClienteSet]    Script Date: 23/04/2016 10:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClienteSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[Sobrenone] [nvarchar](max) NOT NULL,
	[CPF] [bigint] NOT NULL,
	[DataNascimento] [datetime] NULL,
	[DataCadastro] [datetime] NOT NULL,
	[Ativo] [bit] NOT NULL,
	[UsuarioId] [int] NOT NULL,
 CONSTRAINT [PK_ClienteSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContatoSet]    Script Date: 23/04/2016 10:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContatoSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[Valor] [varchar](50) NOT NULL,
	[TipoContatoId] [int] NOT NULL,
 CONSTRAINT [PK_ContatoSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EnderecoSet]    Script Date: 23/04/2016 10:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnderecoSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[Logradouro] [nvarchar](max) NOT NULL,
	[Numero] [int] NOT NULL,
	[Complemento] [nvarchar](max) NOT NULL,
	[CEP] [int] NOT NULL,
	[Bairro] [nvarchar](max) NOT NULL,
	[Municipio] [nvarchar](max) NOT NULL,
	[Estado] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_EnderecoSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemPedidoSet]    Script Date: 23/04/2016 10:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemPedidoSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PedidoId] [int] NOT NULL,
	[ProdutoId] [int] NOT NULL,
	[Quantidade] [int] NOT NULL,
 CONSTRAINT [PK_ItemPedidoSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MenuSet]    Script Date: 23/04/2016 10:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](max) NOT NULL,
	[action] [nvarchar](max) NOT NULL,
	[controller] [nvarchar](max) NULL,
	[route] [nvarchar](max) NULL,
	[ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PedidoSet]    Script Date: 23/04/2016 10:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[DataPedido] [datetime] NOT NULL,
	[TipoEntregaId] [int] NOT NULL,
	[TipoPagamentoId] [int] NOT NULL,
	[Endereco_Id] [int] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_PedidoSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PermissaoMenuSet]    Script Date: 23/04/2016 10:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissaoMenuSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Permissao_Id] [int] NOT NULL,
	[Menu_Id] [int] NOT NULL,
 CONSTRAINT [PK_PermissaoMenuSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PermissaoSet]    Script Date: 23/04/2016 10:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissaoSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PermissaoSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProdutoPrecoSet]    Script Date: 23/04/2016 10:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProdutoPrecoSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProdutoId] [int] NOT NULL,
	[Valor] [money] NOT NULL,
	[InicioVigencia] [datetime] NOT NULL,
	[FimVigencia] [datetime] NOT NULL,
 CONSTRAINT [PK_ProdutoPrecoSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProdutoSet]    Script Date: 23/04/2016 10:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProdutoSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[Descricao] [nvarchar](max) NOT NULL,
	[Quantidade] [int] NOT NULL,
	[Ativo] [bit] NOT NULL,
	[CategoriaId] [int] NOT NULL,
	[Valor] [money] NOT NULL,
 CONSTRAINT [PK_ProdutoSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoContatoSet]    Script Date: 23/04/2016 10:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoContatoSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TipoContatoSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoEntregaSet]    Script Date: 23/04/2016 10:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEntregaSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_TipoEntregaSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoPagamentoSet]    Script Date: 23/04/2016 10:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPagamentoSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_TipoPagamentoSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsuarioSet]    Script Date: 23/04/2016 10:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[Senha] [nvarchar](max) NOT NULL,
	[Ativo] [bit] NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
	[Permissao_Id] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IX_FK_UsuarioCliente]    Script Date: 23/04/2016 10:50:58 ******/
CREATE NONCLUSTERED INDEX [IX_FK_UsuarioCliente] ON [dbo].[ClienteSet]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ClienteContato]    Script Date: 23/04/2016 10:50:58 ******/
CREATE NONCLUSTERED INDEX [IX_FK_ClienteContato] ON [dbo].[ContatoSet]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_TipoContatoContato]    Script Date: 23/04/2016 10:50:58 ******/
CREATE NONCLUSTERED INDEX [IX_FK_TipoContatoContato] ON [dbo].[ContatoSet]
(
	[TipoContatoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ClienteEndereco]    Script Date: 23/04/2016 10:50:58 ******/
CREATE NONCLUSTERED INDEX [IX_FK_ClienteEndereco] ON [dbo].[EnderecoSet]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_PedidoItemPedido]    Script Date: 23/04/2016 10:50:58 ******/
CREATE NONCLUSTERED INDEX [IX_FK_PedidoItemPedido] ON [dbo].[ItemPedidoSet]
(
	[PedidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ProdutoItemPedido]    Script Date: 23/04/2016 10:50:58 ******/
CREATE NONCLUSTERED INDEX [IX_FK_ProdutoItemPedido] ON [dbo].[ItemPedidoSet]
(
	[ProdutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ClientePedido]    Script Date: 23/04/2016 10:50:58 ******/
CREATE NONCLUSTERED INDEX [IX_FK_ClientePedido] ON [dbo].[PedidoSet]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_PedidoEndereco]    Script Date: 23/04/2016 10:50:58 ******/
CREATE NONCLUSTERED INDEX [IX_FK_PedidoEndereco] ON [dbo].[PedidoSet]
(
	[Endereco_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_TipoEntregaPedido]    Script Date: 23/04/2016 10:50:58 ******/
CREATE NONCLUSTERED INDEX [IX_FK_TipoEntregaPedido] ON [dbo].[PedidoSet]
(
	[TipoEntregaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_TipoPagamentoPedido]    Script Date: 23/04/2016 10:50:58 ******/
CREATE NONCLUSTERED INDEX [IX_FK_TipoPagamentoPedido] ON [dbo].[PedidoSet]
(
	[TipoPagamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ProdutoProdutoPreco]    Script Date: 23/04/2016 10:50:58 ******/
CREATE NONCLUSTERED INDEX [IX_FK_ProdutoProdutoPreco] ON [dbo].[ProdutoPrecoSet]
(
	[ProdutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_CategoriaProduto]    Script Date: 23/04/2016 10:50:58 ******/
CREATE NONCLUSTERED INDEX [IX_FK_CategoriaProduto] ON [dbo].[ProdutoSet]
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_UsuarioPermissao]    Script Date: 23/04/2016 10:50:58 ******/
CREATE NONCLUSTERED INDEX [IX_FK_UsuarioPermissao] ON [dbo].[UsuarioSet]
(
	[Permissao_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClienteSet]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioCliente] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[UsuarioSet] ([Id])
GO
ALTER TABLE [dbo].[ClienteSet] CHECK CONSTRAINT [FK_UsuarioCliente]
GO
ALTER TABLE [dbo].[ContatoSet]  WITH CHECK ADD  CONSTRAINT [FK_ClienteContato] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[ClienteSet] ([Id])
GO
ALTER TABLE [dbo].[ContatoSet] CHECK CONSTRAINT [FK_ClienteContato]
GO
ALTER TABLE [dbo].[ContatoSet]  WITH CHECK ADD  CONSTRAINT [FK_TipoContatoContato] FOREIGN KEY([TipoContatoId])
REFERENCES [dbo].[TipoContatoSet] ([Id])
GO
ALTER TABLE [dbo].[ContatoSet] CHECK CONSTRAINT [FK_TipoContatoContato]
GO
ALTER TABLE [dbo].[EnderecoSet]  WITH CHECK ADD  CONSTRAINT [FK_ClienteEndereco] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[ClienteSet] ([Id])
GO
ALTER TABLE [dbo].[EnderecoSet] CHECK CONSTRAINT [FK_ClienteEndereco]
GO
ALTER TABLE [dbo].[ItemPedidoSet]  WITH CHECK ADD  CONSTRAINT [FK_PedidoItemPedido] FOREIGN KEY([PedidoId])
REFERENCES [dbo].[PedidoSet] ([Id])
GO
ALTER TABLE [dbo].[ItemPedidoSet] CHECK CONSTRAINT [FK_PedidoItemPedido]
GO
ALTER TABLE [dbo].[ItemPedidoSet]  WITH CHECK ADD  CONSTRAINT [FK_ProdutoItemPedido] FOREIGN KEY([ProdutoId])
REFERENCES [dbo].[ProdutoSet] ([Id])
GO
ALTER TABLE [dbo].[ItemPedidoSet] CHECK CONSTRAINT [FK_ProdutoItemPedido]
GO
ALTER TABLE [dbo].[PedidoSet]  WITH CHECK ADD  CONSTRAINT [FK_ClientePedido] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[ClienteSet] ([Id])
GO
ALTER TABLE [dbo].[PedidoSet] CHECK CONSTRAINT [FK_ClientePedido]
GO
ALTER TABLE [dbo].[PedidoSet]  WITH CHECK ADD  CONSTRAINT [FK_PedidoEndereco] FOREIGN KEY([Endereco_Id])
REFERENCES [dbo].[EnderecoSet] ([Id])
GO
ALTER TABLE [dbo].[PedidoSet] CHECK CONSTRAINT [FK_PedidoEndereco]
GO
ALTER TABLE [dbo].[PedidoSet]  WITH CHECK ADD  CONSTRAINT [FK_TipoEntregaPedido] FOREIGN KEY([TipoEntregaId])
REFERENCES [dbo].[TipoEntregaSet] ([Id])
GO
ALTER TABLE [dbo].[PedidoSet] CHECK CONSTRAINT [FK_TipoEntregaPedido]
GO
ALTER TABLE [dbo].[PedidoSet]  WITH CHECK ADD  CONSTRAINT [FK_TipoPagamentoPedido] FOREIGN KEY([TipoPagamentoId])
REFERENCES [dbo].[TipoPagamentoSet] ([Id])
GO
ALTER TABLE [dbo].[PedidoSet] CHECK CONSTRAINT [FK_TipoPagamentoPedido]
GO
ALTER TABLE [dbo].[PermissaoMenuSet]  WITH CHECK ADD  CONSTRAINT [FK_MenuPermissaoMenu] FOREIGN KEY([Menu_Id])
REFERENCES [dbo].[MenuSet] ([Id])
GO
ALTER TABLE [dbo].[PermissaoMenuSet] CHECK CONSTRAINT [FK_MenuPermissaoMenu]
GO
ALTER TABLE [dbo].[PermissaoMenuSet]  WITH CHECK ADD  CONSTRAINT [FK_PermissaoPermissaoMenu] FOREIGN KEY([Permissao_Id])
REFERENCES [dbo].[PermissaoSet] ([Id])
GO
ALTER TABLE [dbo].[PermissaoMenuSet] CHECK CONSTRAINT [FK_PermissaoPermissaoMenu]
GO
ALTER TABLE [dbo].[ProdutoPrecoSet]  WITH CHECK ADD  CONSTRAINT [FK_ProdutoProdutoPreco] FOREIGN KEY([ProdutoId])
REFERENCES [dbo].[ProdutoSet] ([Id])
GO
ALTER TABLE [dbo].[ProdutoPrecoSet] CHECK CONSTRAINT [FK_ProdutoProdutoPreco]
GO
ALTER TABLE [dbo].[ProdutoSet]  WITH CHECK ADD  CONSTRAINT [FK_CategoriaProduto] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[CategoriaSet] ([Id])
GO
ALTER TABLE [dbo].[ProdutoSet] CHECK CONSTRAINT [FK_CategoriaProduto]
GO
ALTER TABLE [dbo].[UsuarioSet]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPermissao] FOREIGN KEY([Permissao_Id])
REFERENCES [dbo].[PermissaoSet] ([Id])
GO
ALTER TABLE [dbo].[UsuarioSet] CHECK CONSTRAINT [FK_UsuarioPermissao]
GO
USE [master]
GO
